# Auto detect text files and perform LF normalization
* text=auto

# Linguist
test/* linguist-vendored
*.in linguist-vendored
*.out linguist-vendored
*.ul linguist-vendored
*.iz linguist-vendored
*.a linguist-vendored
*.b linguist-vendored
